
//-include ./comps/movType.pug
//-include ./comps/QPopup.pug
//-include ./comps/QResult.pug
//-include ./comps/QPopupHint.pug

doctype html
html
    include ./comps/header.pug
    body 
        span#debug
        .app
            //-include ./comps/landscape.pug
            header
                div
                    img(src="./img/logo.svg")
                div
                    span Project : 
                        span.projectID 
            .nav 
                div
                    button.main.caselist 選擇病例
                    span Case:
                        span.caseID
                    button.outline.nextCase 下一筆
                div
                    span 正確 
                        span.right 0
                    span 錯誤
                        span.wrong 0
                    button.main.send 完成送出

            .panelContainer
                #myArtical
                    .header
                        | 原文
                        label.switch
                            input(type="checkbox")
                            span.slider.round
                    .content
                        .ENG
                        .CHT.close
                        .selectTxt.close 補充
                #codeCtrl
                    .headerBox
                        .tabs
                        select(name="") 
                            option System labeling 
                    .content
                        table
                            thead 
                                tr 
                                    th#focus.close Focus
                                    th Source
                                    th Code
                                    th Code Name
                                    th Span Text
                                    th Confidence
                            tbody#codeRow
                    footer

            .modal.codeList.close
                .box
                    .header
                        p 選擇病例
                        button.main.closeBtn X
                    .content
                        p 處理中
                        .queue
                        p 未分析
                        .not
                        p 已完成
                        .done
            
            .modal.sendCheck.close 
                .box
                    .header
                        p 確定是否送出
                        button.main.closeBtn X
                    .content
                        button.main.closeBtn 取消
                        button.main.doSend 確定

            .modal.fixPanel.close 
                .box
                    .header
                        p 修正
                        button.main.closeBtn X
                    .content
                        table
                            thead 
                                tr 
                                    th Source
                                    th Code
                                    th Code Name
                                    th Association Name
                                    th Unique
                                    th Confidence
                                    th Total
                            tbody 
                                tr
                                    td.Source 
                                        div.badge
                                    td.Code
                                        span.code
                                    td.Code Name
                                        span.codeName
                                    td.Association Name
                                    td.Unique
                                    td.Confidence
                                    td.Total
                        textarea#description(placeholder="備註")
                    .footer
                        button.main.closeBtn 送出修改
        
            .modal.keyWrodPanel.close 
                    .box
                        .header
                            p 選擇文字範圍
                            button.main.closeBtn X
                        .content
                           
                        .footer
                            button.main.closeBtn 取消
                            button.main.doSend 確定