
//-include ./comps/movType.pug
//-include ./comps/QPopup.pug
//-include ./comps/QResult.pug
//-include ./comps/QPopupHint.pug

doctype html
html
    include ./comps/header.pug
    body 
        span#debug
        .app
            //-include ./comps/landscape.pug
            header
                div
                    img(src="./img/logo.svg")
                div
                    span Project : 
                        span.projectID
                    
                    button.modeBtn 切換至簡易版本

            .nav 
                div
                    button.main.caselist 選擇病例
                    span Case:
                        span.caseID
                    button.outline.nextCase 下一筆
                div
                    span 正確 
                        span.right 0
                    span 錯誤
                        span.wrong 0
                    button.main.send 完成送出

            .panelContainer
                #myArtical
                    .header
                        | 原文
                        label.switch
                            input(type="checkbox")
                            span.slider.round
                    .content
                        .ENG
                        .CHT.close
                        .selectTxt.close 補充
                #codeCtrl
                    .headerBox
                        .tabs
                        select(name="") 
                            option System labeling 
                    .content
                        table
                            thead 
                                tr 
                                    th#focus.close Focus
                                    th Source
                                    th Code
                                    th Code Name
                                    th Span Text
                                    th Confidence
                            tbody#codeRow
                    .footer

            .modal.codeList.close
                .box
                    .header
                        span 選擇病例
                        button.main.closeBtn X
                    .content
                        p 處理中
                        .queue
                        p 未分析
                        .not
                        p 已完成
                        .done
            
            .modal.sendCheck.close 
                .box
                    .header
                        
                        button.main.closeBtn X
                    .content
                        span 確定是否送出
                    .footer
                        button.main.closeBtn 取消
                        button.main.doSend 確定

            //--
                .modal.fixPanel.close 
                    .box
                        .header
                            p 修正
                            button.main.closeBtn X
                        .content
                            table
                                thead 
                                    tr 
                                        th Source
                                        th Code
                                        th Code Name
                                        th Association Name
                                        th Unique
                                        th Confidence
                                        th Total
                                tbody 
                                    tr
                                        td 
                                            div.badge
                                        td
                                            span.code
                                        td
                                            input.codeName
                                        td
                                            span.association
                                        td 
                                            span.unique
                                        td 
                                            span.confidence
                                        td
                                            span.total
                            textarea#description(placeholder="備註")
                        .footer
                            button.main.closeBtn 送出修改


            .modal.aboutPanel.close 
                .box
                    .header
                        span 補充
                        button.main.closeBtn X
                    .content
                        table
                            thead 
                                tr 
                                    th Source
                                    th Code
                                    th Code Name
                                    th Association
                                   
                            tbody 
                                tr
                                    td 
                                        div.badge
                                    td
                                        span.code
                                    td.codeNameBox
                                        div.autocomplete
                                            input.codeName
                                    td
                                        button.openkeyWordPanel 

                        textarea#description(placeholder="備註")
                    .footer
                        button.main.closeBtn 送出修改

            .modal.aboutCheck.close 
                .box
                    .header
                        button.main.closeBtn X
                    .content
                        p 確定是否送出修改資料
                    .footer
                        button.main.closeBtn 取消
                        button.main.doSendEdit 確定
        
            
            .modal.keyWordPanel.close 
                .box
                    .header
                        p 選擇文字範圍
                        button.main.closeBtn X
                    .content
                        .selectKeyWordFromArtical
                    .footer.center
                        button.main.disabled.closeBtn 確認範圍